<%= error_messages_for 'ubiquo_user' %>
<div class="form_box">
  <h3><%= t("ubiquo.auth.user_data") %></h3>
  
  <p>
    <%= form.label :name, UbiquoUser.human_attribute_name("name") %> 
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :surname, UbiquoUser.human_attribute_name("surname") %> 
    <%= form.text_field :surname %>
  </p>
  <% if Ubiquo.supported_locales.size > 1 %>
    <p>
      <%= form.label :locale, UbiquoUser.human_attribute_name("locale") %> 
      <%= form.select(
            :locale, 
            [[t("ubiquo.auth.default_locale"), nil]] + Ubiquo.supported_locales.map{|locale| 
              [t("ubiquo.auth.locale_name", :locale => locale), locale]
            }
            ) %>
    </p>
  <% else %>
    <%= form.hidden_field :locale, :value => "" %>
  <% end %>
  <fieldset>
    <legend><%= UbiquoUser.human_attribute_name("photo") %></legend>
    <% if form.object.photo.original_filename -%>
      <%= image_tag(url_for_file_attachment(form.object, :photo, :thumb)) %>
    <% end %>
    <p>
      <%= form.file_field :photo %> 
      <% if form.object.photo.original_filename -%>
	<%= link_to t('ubiquo.auth.current_file'), form.object.photo.url %>
      <% end %>
    </p>
  </fieldset>
  <h3><%= t("ubiquo.auth.access_data") %></h3>
  <p>
    <%= form.label :email, UbiquoUser.human_attribute_name("email") %> 
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :password, UbiquoUser.human_attribute_name("password") %> 
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.label :password_confirmation, UbiquoUser.human_attribute_name("password_confirmation") %> 
    <%= form.password_field :password_confirmation %>
  </p>
</div>
