<%= form.group :type => :fieldset, :legend => t("ubiquo.auth.user_data") do %>
  <%= form.text_field :name %>
  <%= form.text_field :surname %>
  <% if Ubiquo.supported_locales.size > 1 %>
    <%= form.select(
        :locale,
        [[t("ubiquo.auth.default_locale"), nil]] + Ubiquo.supported_locales.map{|locale|
        [t("ubiquo.auth.locale_name", :locale => locale), locale.to_s]
    }
    ) %>
  <% else %>
    <%= form.hidden_field :locale, :value => "" %>
  <% end %>
  <%= form.group :type => :fieldset, :legend => UbiquoUser.human_attribute_name("photo") do %>
    <% if form.object.photo.original_filename -%>
      <%= image_tag(url_for_file_attachment(form.object, :photo, :thumb)) %>
    <% end %>
    <%= form.file_field :photo %>
    <% if form.object.photo.original_filename -%>
      <%= link_to t('ubiquo.auth.current_file'), form.object.photo.url %>
    <% end %>
  <% end %>
<% end %>
<%= form.group :type => :fieldset, :legend => t("ubiquo.auth.access_data") do %>
  <%= form.text_field :login %>
  <%= form.text_field :email %>
  <%= form.password_field :password %>
  <%= form.password_field :password_confirmation %>
  <% if current_ubiquo_user.is_admin? %>
    <%= form.check_box :is_admin, :class => "checkbox" %>
  <% end %>
  <%= form.check_box :is_active, :class => "checkbox" %>
  <%#= user_permission_fields(form) if respond_to?(:user_permission_fields) %>
<% end %>
<% if form.object.new_record? %>
  <%= form.group :type => :fieldset, :legend => t("ubiquo.auth.extra_data") do %>
    <div class="form-item">
      <%= label_tag :send_confirm_creation, t("ubiquo.auth.send_confirm_creation") %>
      <%= check_box_tag(:send_confirm_creation, 1, true, :class => "checkbox")%>
    </div>
    <div class="form-item" id="welcome-message_block">
      <%= label_tag :welcome_message, t("ubiquo.auth.welcome_message_title") %>
      <%= text_area_tag :welcome_message %>
    </div>
  <% end %>
<% end %>
