<%= error_messages_for 'ubiquo_user' %>
<div class="form_box">
  <h3><%= t("ubiquo.auth.access_data") %></h3>
  <p>
    <%= form.label :login, UbiquoUser.human_attribute_name("login") %> 
    <%= form.text_field :login %>
  </p>
  <p>
    <%= form.label :email, UbiquoUser.human_attribute_name("email") %> 
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :password, UbiquoUser.human_attribute_name("password") %> 
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.label :password_confirmation, UbiquoUser.human_attribute_name("password_confirmation") %> 
    <%= form.password_field :password_confirmation %>
  </p>
  <fieldset>
    <legend><%= UbiquoUser.human_attribute_name("photo") %></legend>
    <% if form.object.photo.original_filename -%>
      <%= image_tag(url_for_file_attachment(form.object, :photo, :thumb)) %>
    <% end %>
    <p>
      <%= form.file_field :photo %> 
      <% if form.object.photo.original_filename -%>
	<%= link_to t('ubiquo.auth.current_file'), form.object.photo.url %>
      <% end %>
    </p>
  </fieldset>
  <p>
    <%= form.check_box :is_admin %><%= form.label :is_admin, UbiquoUser.human_attribute_name("is_admin") %>
  </p>
  <p>
    <%= form.check_box :is_active %><%= form.label :is_active, UbiquoUser.human_attribute_name("is_active") %>
  </p>
  
  <%= user_permission_fields(form) if respond_to?(:user_permission_fields) %>
</div>
