<h1><%= render :partial => 'title' %></h1>
<h2>
	<%= render :partial => 'submenu' %>
</h2>
<%= render :partial => "shared/ubiquo/feedback" %>

<%= ubiquo_users_filters_info(params) %>

<%= link_to t("ubiquo.auth.new_user"), new_ubiquo_ubiquo_user_path, :class => "new" %>

<% ubiquo_user_list(@ubiquo_users, @ubiquo_users_pages) do |user| %>
  <% if user.photo.original_filename %>
    <div class="photo">
      <%= image_tag(url_for_file_attachment(user, :photo, :thumb)) %>
    </div>
  <% end %>
  <div class="login"><%= user.full_name %></div>
<% end %>

<% content_for :sidebar do %>
  <%= ubiquo_users_filters %>
  <%= help_block_sidebar(t("ubiquo.helpmsg.authentication.ubiquousers.index")) %>
<% end %>
